<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Black+Ops+One|Diplomata+SC|Faster+One|Titan+One" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
	<title> Dream Muscle cars!!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/cars.js"></script>


</head>

<body>
	{{{ body }}}
</body>

</html>