
<div class="jumbotron">
  <h1 class="display-4">Dream Muscle Cars!!</h1>
  <hr class="my-4">
</div>



<div class="container1">

  <div class="row">
    <div class="col-md-6">
        <h2>Wish List!</h2>

      <ul>
        <li>
          {{#each cars}} {{#unless purchased}} {{> cars/car-block purchase=true}} {{car_name}}{{/unless}} {{/each}}

        </li>

      </ul>

    </div>


    <div class="col-md-6">
            <h2>Purchased Cars</h2>

      <ul>
        <li>
          {{#each cars}}  {{#if purchased}} {{> cars/car-block purchase=false}}{{car_name}} {{/if}} {{/each}}

        </li>
      </ul>

    </div>
  </div>
</div>



<form class="create-form">

  <div class="form-group">
    <h2>Add Your dream Muscle Car</h2>

    <label for="ca">Car Name:</label>
    <input type="text" id="ca" name="name">
  </div>



  <button type="submit">Add Car</button>
</form>